<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-3.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3sim)/worlds/small.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

    <group ns="robot1">
        <include file="$(find turtlebot3sim)/launch/includes/robot.launch.xml">
            <arg name="robot_name" value="robot1"/>
            <arg name="model" value="$(arg model)"/>
            <arg name="init_pose" value="-x 5.6 -y 5.0 -z 0.0 -Y 1.57"/>
        </include>
    </group>

    <group ns="robot2">
        <include file="$(find turtlebot3sim)/launch/includes/robot.launch.xml">
            <arg name="robot_name" value="robot2"/>
            <arg name="model" value="$(arg model)"/>
            <arg name="init_pose" value="-x -7 -y 9.0 -z 0.0 -Y 1.57"/>
        </include>
    </group>

</launch>
