<launch>
  <!-- Arguments -->
  <arg name="model" default="burger"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
  <arg name="robot_name" default=""/>
  <arg name="weightspath" default="$(find smmr_explore_wrapper)/scripts/model_test.ckpt" />

  <!-- move_base -->
  <include file="$(find turtlebot3sim)/launch/includes/move_base_robot.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!-- cartographer_node -->
  <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" 
        args="-configuration_directory $(find turtlebot3sim)/config
              -configuration_basename $(arg configuration_basename)"
        output="screen">
    <remap from="imu" to="flat_imu"/>
  </node>

  <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node"
        name="cartographer_occupancy_grid_node" 
        args="-resolution 0.05" >
        <remap from="map" to="cartographer_discrete_map"/>
  </node>

  <include file="$(find smmr_explore_wrapper)/launch/smmr_mapping.launch">
    <arg name="robotname" value="$(arg robot_name)"/>
    <arg name="weightspath" value="$(arg weightspath)" />
  </include>

  <node name="graythreenode" pkg="graythree" type="graythree_node">
    <remap from="cartographerMap" to="cartographerMap"/>
    <remap from="map" to="map"/>
  </node>

  <node pkg="turtlebot3_slam" type="flat_world_imu_node" name="flat_world_imu_node" output="screen">
    <remap from="imu_in" to="imu" />
    <remap from="imu_out" to="flat_imu_in" />
  </node>

  <node pkg="turtlebot3sim" type="ImuChange.py" name="ImuChange_node" args="-c $(arg robot_name)/base_footprint" output="screen">
      <remap from="input" to="flat_imu_in"/>
      <remap from="output" to="flat_imu"/>
  </node>

</launch>
