<launch>
<node pkg="mapmerge" type="mapmerge_node" name="map_merge" output="screen" >
	<param name="robot1_x" value="0.0" />
	<param name="robot2_x" value="0.0" />
	<!-- <param name="robot3_x" value="0.0" /> -->
	<param name="robot1_y" value="0.0" />
	<param name="robot2_y" value="-0.8" />
	<!-- <param name="robot3_y" value="0.8" /> -->
</node>
</launch>