<!-- Launch file for the rrt-detector and the assigner -->

<launch>
  <arg name="eta" value="1.0"/>
  <arg name="Geta" value="1.0"/>
  <arg name="namespace1" value="robot1"/>
  <arg name="namespace2" value="robot2"/>

  <param name="namespace_init_count" value="1"/>
  
<!-- normal version with rrt clear when maps merges -->
  <node pkg="rrt" type="rrt_node" name="robot1_rrt" output="screen">
    <param name="eta" value="$(arg eta)"/>
    <param name="map_topic" value="$(arg namespace1)/map"/>
    <param name="costmap_topic" value="$(arg namespace1)/move_base/global_costmap/costmap"/>
    <!-- <param name="costmap_topic" value="/robot1/costmap"/> -->
    <param name="frontier_topic" value="$(arg namespace1)/frontiers"/>
    <param name="robot_frame" value="$(arg namespace1)/map"/>
    <param name="robot_base_frame" value="$(arg namespace1)/base_footprint"/>
    <param name="info_radius" value="1"/> 
    <param name="costmap_pixel_threshold" value="0"/> 
    <param name="namespace" value="$(arg namespace1)"/> 
    <param name="rate" value="100"/>

    <param name="n_robot" value="2"/>
    <param name="this_robot_idx" value="1"/>
    <param name="robot_ano_frame_preffix" value="robot"/>
    <param name="robot_ano_frame_suffix" value="/map"/>

    <param name="trajectory_query_name" value="$(arg namespace1)/trajectory_query"/>
    <param name="output_file" value="$(find rrt)/data/$(arg namespace1)_trajectory.txt"/>
    <param name="output_map_file" value="$(find rrt)/data/$(arg namespace1)_rrt_explored_map.txt"/>
 </node>


  <node pkg="rrt" type="rrt_node" name="robot2_rrt" output="screen">
    <param name="eta" value="$(arg eta)"/>
    <param name="map_topic" value="$(arg namespace2)/map"/>
    <param name="costmap_topic" value="$(arg namespace2)/move_base/global_costmap/costmap"/>
    <!-- <param name="costmap_topic" value="/robot1/costmap"/> -->
    <param name="frontier_topic" value="$(arg namespace2)/frontiers"/>
    <param name="robot_frame" value="$(arg namespace2)/map"/>
    <param name="robot_base_frame" value="$(arg namespace2)/base_footprint"/>
    <param name="info_radius" value="1"/> 
    <param name="costmap_pixel_threshold" value="0"/> 
    <param name="namespace" value="$(arg namespace2)"/> 
    <param name="rate" value="100"/>

    <param name="n_robot" value="2"/>
    <param name="this_robot_idx" value="2"/>
    <param name="robot_ano_frame_preffix" value="robot"/>
    <param name="robot_ano_frame_suffix" value="/map"/>

    <param name="trajectory_query_name" value="$(arg namespace2)/trajectory_query"/>
    <param name="output_file" value="$(find rrt)/data/$(arg namespace2)_trajectory.txt"/>
    <param name="output_map_file" value="$(find rrt)/data/$(arg namespace2)_rrt_explored_map.txt"/>
 </node>


  <!-- run RViz node (visualization) -->
  <node pkg="rviz" type="rviz" name="rviz_robot1" args="-d $(find rrt)/rviz/robot1_rrt_node.rviz"/>
  <node pkg="rviz" type="rviz" name="rviz_robot2" args="-d $(find rrt)/rviz/robot2_rrt_node.rviz"/>

</launch>



